.layout {
  &_toolbar {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    
    img {
      width: 3rem;
      margin-right: 0.5rem;
    }
  }

  &_content {
    padding: 2rem;
  }
}
